html
    head
        title Titles
    body 
        h1 Following are titles of the websites given by you.
        ul
            each val, index in titlesOfUrls 
                li= val[0] + ' - ' + val[1]